<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpi.es.checar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Visao.TelaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Visao.TelaNovoCNH"
            android:parentActivityName=".Visao.TelaPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufpi.es.checar.Visao.TelaPrincipal" />
        </activity>
        <activity android:name=".Visao.TelaRecorteImagem" />
        <activity android:name=".Visao.TelaAlterarDadosCNH" />
        <activity android:name=".Visao.TelaCadastro" />
        <activity android:name=".Visao.TelaCarregaDados" />
        <activity android:name=".Visao.TelaCarregaDadosVeiculo" />
        <activity android:name=".Visao.CadastroPlaca" />
        <activity android:name=".Visao.TelaNovaPlaca" />
        <activity android:name=".Visao.TelaAlterarDadosPlaca" />
        <activity android:name=".Visao.TelaTeste"></activity>
    </application>

</manifest>
